{% extends 'gym_tacker/layout.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="home">
    <h1>Добро пожаловать на наш сайт!</h1>
    <p>Мы предлагаем широкий спектр инструментов для отслеживания вашей физической активности, планирования тренировок и достижения ваших фитнес-целей.</p>
    <p>Наши возможности включают:</p>
    <ul>
        <li>Распознавание спортивных тренажёров по фото</li>
        <li>Помощь с нахождением информации о тренажёре</li>
        <li>Создание персонализированных тренировочных программ</li>
        <li>Мониторинг вашего прогресса и достижений</li>
    </ul>
    <a href="{% url 'profile' %}" class="btn btn-warning">Перейти в личный кабинет</a>
</div>
{% endblock %}